# ===================================================================
# artellapipe-tools-namemanager requirements file
# ===================================================================

lucidity
artellapipe-core