# ===================================================================
# artellapipe-tools-assetsmanager namemanager file
# ===================================================================
lucidity
artellapipe
tpDcc-libs-nameit
tpDcc-tools-nameit
