# ===================================================================
# artellapipe-tools-namemanager file
# ===================================================================
artellapipe
tpDcc-libs-nameit
tpDcc-tools-nameit
